@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro' !important;
    font-style: normal;
    font-weight: 400;
}

body{
    background-color: #000000;
}